body {
  background-image: url('148.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

div {
  background-color: rgba(153, 153, 255, 0.25)   /* 35% opaque white */;
  padding: 0.25em;
}